// Colors
$color-white: #FBF9FF;
$color-black: #0D0106;

// Font
$font-family: 'Bricolage Grotesque', sans-serif;

// Spacing
$page-padding-desktop: 40px;
$page-padding-tablet: 30px;
$page-padding-mobile: 20px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

// Z-index
$z-header: 1000;
$z-modal: 2000;

